<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Библиотек</title>

    <link rel="stylesheet" href="/css/books.css">
</head>
<body>
    <h1>Список книг</h1>

    <div class="book-card">
        <h2>Чистый код</h2>
        <p>Автор: Роберт Мартин</p>
        <p>Год: 2008</p>
        <button>Подробнее</button>
    </div>

    <div class="book-card">
        <h2>Effective Java</h2>
        <p>Автор: Joshua Bloch</p>
        <p>Год: 2018</p>
        <button>Подробнее</button>
    </div>
</body>
</html>